/* ============================================= */
/* SECAO ABOUT                                   */
/* ============================================= */
.about {
  position: relative;
  transform: translate(0rem, 20rem);
  z-index: 10;
}

/* Estilo para ícones */
.nf {
  font-size: 1.2em;
  margin-right: 0.5rem;
  color: var(--focus); /* Cor dos ícones */
}

.title {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 6.25rem;
  color: var(--white);
}

/* Caixa com os paragrafos "sobre mim" e "skills" */
.paragrafos {
  display: flex;
  position: relative;
  width: 90%;

  justify-content: space-between;
  justify-items: center;
  transform: translateX(4rem);

  gap: 2rem;
}

.esquerda,
.direita {
  display: inline-block;
  background-color: var(--focus);
  text-align: left;
  width: 50%;
  height: 10%;

  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--white);
}

/* icone 3 pontos (tanto na esquerda quanto na direita) */
.nf-md-dots_horizontal {
  padding-left: 1rem;
  color: var(--black);
}

/* Who I Am */

.esquerda {
  text-align: left;
  font-size: 1.875rem;
}

.esquerda .texto {
  padding: 1rem 2rem;

  background-color: var(--black);
  font-weight: normal;
  font-size: 1rem;
}

.direita {
  text-align: left;
  font-size: 1.875rem;
}

.direita .texto {
  padding: 1rem 2rem;
  background-color: var(--black);
  font-weight: normal;
  font-size: 1rem;
}

@media (max-width: 768px) and (orientation: portrait) {
  .about {
    padding: 1rem;
    transform: translate(0, 25rem); /* Ajuste menor para mobile */
  }

  .title {
    font-size: 3rem; /* Título menor em mobile */
  }

  .paragrafos {
    display: block;
    width: 100%; /* Ocupa 100% da largura */
    transform: none; /* Remove o translateX */
    margin: 0 auto;
    padding: 0;
  }

  .esquerda,
  .direita {
    display: block;
    width: 100%; /* Largura total */
    margin-bottom: 2rem; /* Espaço entre as caixas */
    height: auto; /* Altura automática */
  }

  .esquerda .texto,
  .direita .texto {
    padding: 1.5rem; /* Mais espaço interno */
    font-size: 0.9rem; /* Texto ligeiramente menor */
  }

  .nf-md-dots_horizontal {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  .about {
    transform: translate(0, 30rem); /* Ajuste menor para mobile */
  }
}

@media (max-width: 412px) {
  .title {
    margin-bottom: 3rem;
  }
}

@media (max-width: 375px) {
  .about {
    transform: translate(0, 30rem); /* Ajuste menor para mobile */
  }

  .title {
    position: relative;
    margin-bottom: 3rem;
    padding-right: 2rem;
  }
}
