/* ============================================= */
/* VARIÁVEIS GLOBAIS                             */
/* ============================================= */

:root {
  /* fontes */
  --font-primary: "JetBrains Mono", monospace;
  --font-secondary: "Krux Grunge", monospace;

  /* Cores texto e itens */
  --white: #faf7f5;
  --black: #141414;
  --focus: #f84f39; /* Cor de destaque (laranja) */

  /* Cores do Background */
  --background: #28243a; /* Cor de fundo secundária */

  /* highlight universal */
  .highlight {
    color: var(--focus);
  }
}

/* Classes utilitárias para fontes */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Evita scroll horizontal */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body.active {
  overflow-y: hidden;
}

/* ============================================= */
/* ESTILOS GERAIS                                */
/* ============================================= */
body {
  background-color: #181624;
  color: var(--white);
}
