/* ============================================= */
/* Título e janelas                              */
/* ============================================= */

.projects {
  transform: translate(0, 40rem);
  font-family: var (--font-primary);
  color: var(--white);
  position: relative;
  width: auto;
  height: 100rem;
}

.projects .corvo,
.projects .quadrado,
.projects .container-linguagens,
.projects .backend,
.projects .frontend {
  opacity: 0%;
}

.title {
  text-align: center;
  font-size: 6.25rem;
}

/* Secao onde estao os quadrados clicaveis com os projetos */
.container-contents {
  display: grid;
  grid-template-columns: 24rem 50rem;
  grid-template-rows: 20rem;

  width: 1fr;
  height: auto;

  justify-self: center;
  justify-items: center;
}

.container-projetos {
  display: grid;
  grid-template-columns: 21.5rem 21.5rem;
  grid-template-rows: 22.5rem 22.5rem;
  width: 1fr;
  height: auto;

  justify-items: left;
  justify-self: right;
  padding-top: 7%;
  padding-right: 2%;
}

.frame-quadrado {
  width: 20rem;
  height: 20.5rem;
  border-radius: 20px;
  background-color: var(--background);
}

.container-imagemProjeto {
  width: 100%;
  height: 69%;
  background-color: var(--white);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  overflow: hidden; /* impedir que a imagem saia do container no zoom */
}

.projeto {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 70.1%;
  height: auto;
  padding-left: 2.7rem;

  transition: transform 0.5s;
}

.frame-quadrado:hover .projeto {
  transform: scale(1.05);
  cursor: pointer;
}

.frame-quadrado:hover .container-textProject h2 {
  color: var(--focus) !important;
}

.frame-retangulo {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  width: 20rem;
  height: 40rem;
  border-radius: 20px;
  background-color: var(--background);

  .crowPFP {
    width: 80%;
    height: auto;
    background-color: var(--black);
    border-radius: 20px;
  }
}

.container-textProject {
  position: relative;
  font-family: var(--font-primary);
  padding: 1rem 1rem 0.5rem 1rem; /* top right bottom left */
  box-sizing: border-box;
}

.container-textProject p {
  font-style: normal;
  opacity: 50%;
  margin: 0;
  line-height: -2;
  transform: translateY(-80%);
}

.container-textProject h2 {
  font-size: 1.4rem;
  font-style: bold;
  color: var(--white);
  text-decoration: none;
  transform: translateY(-50%);
}

.popup-Projects.active {
  top: -20vh;
  position: sticky;
  display: block;
  transform: translate(100%, -65%);
  width: 30rem;
  height: 30rem;
  background-color: var(--black);
  overflow: hidden;
  overflow-y: hidden;
  border-radius: 15px;
  z-index: 500;
}

.popup-Projects {
  display: none;
}

.container-button .btn {
  position: relative;
  justify-self: center;

  width: 6rem;
  height: 2.3rem;
  border-radius: 28px;
  background-color: var(--white);
  font-style: var(--font-primary);
  color: var(--black);

  transform: translate(0, 220%);
}

.btn p {
  text-align: center;
  transform: translateY(50%);
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--focus);
  font-weight: bold;
}

.container-wip img {
  position: relative;
  width: 35%;
  height: auto;
  transform: translate(90%, 40%);
}

.container-message {
  position: relative;
  text-align: center;

  line-height: 0.5;

  transform: translate(0, 200%);
}

/* ============================================= */
/* Responsividade                                */
/* ============================================= */

@media (max-width: 768px) {
  .projects {
    transform: translate(0, 13rem);
  }

  .title {
    font-size: 4rem;
    text-align: center;
  }

  .projects .container-corvo2 {
    display: inline-block;
    position: relative;
    width: 23.438rem;
    height: 1.125rem;
  }

  .projects .corvo,
  .projects .quadrado,
  .projects .container-linguagens {
    position: relative;
    opacity: 100%;
  }

  .projects .backend,
  .projects .frontend {
    opacity: 100%;
  }

  .projects .container-linguagens {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 0rem 0.6rem 0rem 0.87rem;
    transform: translate(1.5rem, -35rem);
  }

  .projects .backend {
    transform: translate(-3rem, 0rem);
  }

  i.nf.nf-oct-terminal {
    transform: translate(0rem, 0.5rem);
  }

  i.nf.nf-seti-html {
    transform: translate(3rem, 0.5rem);
  }

  .projects .corvo {
    width: 22.5rem;
    transform: translate(-0.5rem, 23.25rem);
  }

  .projects .quadrado {
    transform: translate(1.3rem, -1rem);
    width: 90%;
  }

  .projects .container-linguagens {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 1.3rem;
    transform: translate(0rem, -28rem);
  }

  .frame-retangulo {
    display: none;
  }

  .container-projetos {
    position: relative;
    transform: translateX(4.5rem);
    grid-template-columns: 0;
    grid-template-rows: 22rem 22rem 22rem 22rem;
  }
}
@media (max-width: 412px) {
  .projects {
    transform: translate(0, 18rem);
  }

  .title {
    transform: translate(0, 2rem);
  }

  .projects .corvo {
    width: 22.5rem;
    transform: translate(0.5rem, 24.25rem);
  }

  .projects .quadrado {
    transform: translate(2.2rem, 0rem);
    width: 90%;
  }

  .projects .container-linguagens {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 1.3rem;
    transform: translate(0.9rem, -27rem);
  }

  .frame-retangulo {
    display: none;
  }

  .container-projetos {
    position: relative;
    transform: translateX(3.5rem);
    grid-template-columns: 0;
    grid-template-rows: 22rem 22rem 22rem 22rem;
  }
}

@media (max-width: 375px) {
  .projects {
    transform: translate(-1rem, 18rem);
  }

  .title {
    position: relative;
    left: 1.9rem;
  }

  .frame-retangulo {
    display: none;
  }

  .container-projetos {
    position: relative;
    transform: translateX(4.5rem);
    grid-template-columns: 0;
    grid-template-rows: 22rem 22rem 22rem 22rem;
  }

  .popup-Projects.active {
    position: sticky;
    top: 0;
    transform: translate(14.5%, 0);
    width: 20rem;
    height: 22rem;
  }
}
